<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357177217038-vhg4t9f8vfp4ucndbsru4qpi6hv3fpu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357177217038-vhg4t9f8vfp4ucndbsru4qpi6hv3fpu1</string>
	<key>API_KEY</key>
	<string>AIzaSyAN9vErrFXuRSkrzd0AS-wRfotI2pxMhzw</string>
	<key>GCM_SENDER_ID</key>
	<string>357177217038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elpayazilim.eczane</string>
	<key>PROJECT_ID</key>
	<string>eczane-f459a</string>
	<key>STORAGE_BUCKET</key>
	<string>eczane-f459a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357177217038:ios:bff714735895da0a</string>
	<key>DATABASE_URL</key>
	<string>https://eczane-f459a.firebaseio.com</string>
</dict>
</plist>